* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body{
  background-color: #DCD4D0;
}

.logo {
  font-family: Sacramento;
  font-size: 65px;
  color:#2E2E2E;
  text-decoration: none;
  margin: 490px;
}

nav {
  width: 70%;
  height: 50px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.navbar a {
  float: left;
  color: #2E2E2E;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  padding: 15px 70px;
  text-decoration: none;
}

ul {
  margin: 30px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 20px;
}

ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4E423B;
  display: block;
  margin: auto;
  transition: 0.5s;
}

ul li a:hover::after {
  width: 100%;
}

/*forside*/

#bigbox1 {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 475px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main {
  float: left;
  padding: 15px 30px;
  width: 55%;
}

.side {
  float: right;
  padding-top: 80px;
  width: 45%
}

.side img {
  width: 85%;
  height: auto;
  margin-top: -55px;
}

.headline1 {
  font-family: Arial;
  font-size: 50px;
  color:#2E2E2E;
  text-align: left;
  padding: 20px 20px;
  margin-top: 70px;
  margin-left: 40px;
}

.bigheadline {
  font-family: Arial;
  font-size: 30px;
  color:#2E2E2E;
  text-align: left;
  margin-top: -50px;
  margin-left: 60px;
}

*Portfolio*/

#bigbox2 {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 750px;
  background-color: #C1B9B5;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.headline2 {
  font-family: Arial;
  font-size: 40px;
  color:#2E2E2E;
  margin-left: auto;
  margin-right: auto;
}

title {
  height: 100%;
}

.projects {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  text-align: center;
}

.line1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
}

.text {
  color: #DEDEDE;
  background-color: #4e423bbf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Arial;
  font-style: normal;
}
